<h2>新闻管理</h2>

<ul class="shortcut-buttons-set">
	<li><%= link_to "返回控制面板", admin_root_path(), :class => "shortcut-button home" %></li>
	<li><%= link_to "添加新闻", new_admin_news_path(), :class => "shortcut-button artist" %></li>
</ul>

<div class="clear"></div>

<div class="content-box">
	<div class="content-box-header">
		<h3>新闻列表</h3>
	</div>

	<div class="content-box-content">
		<% if @news.blank? %>
			<p>暂无新闻,您可以<%= link_to "添加新闻", new_admin_news_path() %>！</p>
		<% else %>
			<%= render "entries" %>
		<% end %>
	</div>
</div>