

<div class="foot_alter225">

    <div align="center">

        <a target="_black" href="http://www.qianxun.com/woman.html">

            <span>精致美人</span>

            <strong>优雅与性感共舞</strong>

        </a>

        <a target="_black" href="http://www.qianxun.com/man.html">

            <span>时尚绅士</span>

            <strong>型男之时装殿堂</strong>

        </a>

        <a target="_black" href="http://help.360buy.com/help/question-65.html">

            <span>全场免运费</span>

            <strong>不限金额不限地区</strong>

        </a>

    </div>

</div>

<div style="width: 978px; margin: 15px auto 0pt; font: 12px/25px '';  text-align: center; clear: both;">

    <div><a target="_black" href="http://www.qianxun.com">首页</a>  |  <a target="_black" href="http://www.360buy.com/contact/">联系我们</a>  |  <a target="_black" href="http://www.360buy.com/contact/joinin.aspx">商家入驻</a>  |  <a target="_black" href="http://www.360buy.com/intro/service.aspx">广告服务</a></div>

    <div style=" font-family:Verdana, Arial, Helvetica, sans-serif; padding-bottom:20px">Copyright&copy; 2011 cnmtsc.com All Rights Reserved 沪ICP备09000930号 </div>

</div>



