<h3>产品管理</h3>

<ul class="shortcut-buttons-set">
	<li><%= link_to "返回控制面板", admin_root_path(), :class => "shortcut-button home" %></li>
	<li><%= link_to "返回分类列表", admin_products_path(), :class => "shortcut-button episode" %></li>
</ul>

<div class="clear"></div>

<div class="content-box">
	<div class="content-box-header">
		<h3>修改产品</h3>
	</div>

	<div class="content-box-content">
		<%= semantic_form_for(@product, :url => admin_product_path(@product)) do |f| %>
			<%= render :partial => 'form', :object => f %>
		<% end %>
	</div>
</div>